{% extends "base.html" %}
{% load static %}
{% block content %}

<section class='container my-3'>
    {% comment %} <h4 class='my-3'>{{tuitions | length}} results found</h4> {% endcomment %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if tuitions.is_apply == True and tuitions.tuition_types == 'Accepted' %}
        {% for tuition in tuitions %}
        <div class="col">
            <div class="card h-100">
                {% comment %} <img src="{{ tuition.books_img.url }}" class="card-img-top" alt=""> {% endcomment %}
                <div class="card-body">
                    <h5 class="card-title">{{tuition.title}}</h5>
                    <p class="card-text">{{tuition.description | truncatewords:10}}</p>
                    <p class="card-text">Fee: {{tuition.fee}}</p>
                    
                    {% comment %} <a href="{% url 'details' tuition.id %}" class='btn btn-primary' type='submit'>Details</a> {% endcomment %}
                    
                
                </div>
            </div>
        </div>
        {% endfor %}
        {%else%}
        <h2>No result found</h2>
        {% endif %}
    </div>

</section>
{% endblock %}