{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class='container my-3'>
    {% if request.user.is_superuser %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for tuition in tuitions %}
            {% if tuition.is_apply %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ tuition.books_img.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-xl">{{tuition.title}}</h5>
                        <p class="card-text"><span class='fw-bold'>Description: </span>{{tuition.description |truncatewords:10}}</p>
                        <p class="card-text"><span class='fw-bold'>Fee: </span> {{tuition.fee}}</p>                  
                        <a href="{% url "admin_aprove" tuition.id %}" class='inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg' type='submit'>Approve</a>            
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    {% elif request.user.is_authenticated %}
        <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
            {% for tuition in tuitions %}
            {% if tuition.tuition_types == 'Accepted' %}
            <div class="col my-1">
                <div class="card h-100">
                    <img src="{{ tuition.books_img.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-xl">{{tuition.title}}</h5>
                        <p class="card-text"><span class='fw-bold'>Description</span>{{tuition.description |truncatewords:10}}</p>
                        <p class="card-text"><span class='fw-bold'>Fee:</span>{{tuition.fee}}</p>
                        <a href="{% url "review" tuition.id %}" class='inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg' type='submit'>Review</a> 
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
            
            
        
    {%endif%}

</section>
{% endblock %}