{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container d-flex align-items-center my-5">
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Country's #1 Tutor
              <br class="hidden lg:inline-block">Matching
              &amp Learning Platform.
            </h1>
            <p class="mb-8 leading-relaxed text-xl">Hire a conversant tutor to make your children's learning fun, comprehensive &amp easier.</p>
            <div class="flex justify-center">
              <button class="ms-3 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">For More Details</button>
              
            </div>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img src="{% static 'Educator.png' %}" alt="">
          </div>
        </div>
      </section>
</section>

  <h1 class='text-2xl text-center my-10 text-indigo-500 uppercase fw-bold '>All Classes</h1>
<section class="container mx-auto row-cols-1 row-cols-md-3 g-4 my-4">
    <div class='d-flex g-1 mx-auto mb-12'>
        {% for class in cls %}
        <div class="col">
            <h3><a href="{% url 'class_slug' class.slug %}" class='inline-flex text-white bg-indigo-500 border-0 py-2 px-6 ms-3 focus:outline-none hover:bg-indigo-600 rounded text-lg uppercase'>{{class.name}}</a></h3>
        </div>
        {% endfor %}
    </div>
</section>

<section class='container my-3'>
    {% comment %} <h4 class='my-3'>{{tuitions | length}} results found</h4> {% endcomment %}
    <h1 class='text-2xl text-center my-10 text-indigo-500 uppercase fw-bold'>All Tutor</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% if tuitions|length != 0 %}
        {% for tuition in tuitions %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ tuition.books_img.url }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h2 class="text-2xl mb-2">{{tuition.title}}</h2>
                    <p class="card-text"><span class='fw-bold'>Description: </span>{{tuition.description |truncatewords:10 }}</p>
                    <p class="card-text"><span class='fw-bold'>Fee: </span> {{tuition.fee}}</p>
                    
                    {% if request.user.is_superuser %}
                    <a href='{% url "edit_tuition" tuition.id %}' class='inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg' type='submit'>Edit</a>
                    <a href='{% url "delete_tuition" tuition.id %}' class='inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg' type='submit'>Delete</a>
                    {% elif request.user.is_authenticated %}
                    <a href='{% url "apply_tuition" tuition.id %}' class='inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-3' type='submit'>Apply for tution</a>
                {%endif%}
                
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class='mx-auto'>
          <h1 class='text-2xl text-center my-20'>No Tutor Found</h1>
        <div>
        {% endif %}
    </div>

</section>

<section class="text-gray-600 body-font">
  <h1 class='text-2xl text-center mt-12 text-indigo-500 uppercase fw-bold'>Our Users</h1>
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">2.7K</h2>
        <p class="leading-relaxed">Users</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">1.8K</h2>
        <p class="leading-relaxed">Subscribes</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">35</h2>
        <p class="leading-relaxed">Downloads</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">4</h2>
        <p class="leading-relaxed">Products</p>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
<div class="container px-5 py-24 mx-auto">
  <h1 class="text-3xl font-medium title-font text-indigo-500 mb-3 text-center">Testimonials About Place</h1>
  <p class='text-center text-lg mb-12'>We have an excellent teacher to child ratio<br> at our Kindergarten to ensure that each child receives the attention he or she needs</p>
  <div class="flex flex-wrap -m-4">
    <div class="p-4 md:w-1/2 w-full">
      <div class="h-full bg-gray-100 p-8 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-indigo-500 mb-4" viewBox="0 0 975.036 975.036">
          <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
        <a class="inline-flex items-center">
          <img alt="testimonial" src="{% static "user-review.jpg" %}" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
          <span class="flex-grow flex flex-col pl-4">
            <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
            <span class="text-gray-500 text-sm uppercase">kvs - prt 2020        </span>
        </a>
      </div>
    </div>
    <div class="p-4 md:w-1/2 w-full">
      <div class="h-full bg-gray-100 p-8 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-indigo-500 mb-4" viewBox="0 0 975.036 975.036">
          <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
        <a class="inline-flex items-center">
          <img alt="testimonial" src="{% static "user-review-2.jpg" %}" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
          <span class="flex-grow flex flex-col pl-4">
            <span class="title-font font-medium text-gray-900">Alper Kamu</span>
            <span class="text-gray-500 text-sm uppercase">kvs - prt 2020        </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}